- content_for :title, document_title(@exercise)

:javascript
  var featuresJson = #{@exercise.topic.features.split(' ').to_json.html_safe};
  var exerciseJson = #{@exercise.json.html_safe};
  var exerciseColor = "#{@exercise.color}";
  var pathForNextExercise = "#{@exercise.path_for_next_exercise}";
  var pathForNextRep = "#{@exercise.path_for_next_rep}";

.title{ class: @exercise.color }
  %a(href='/')
    = image_tag 'basic_ruby_x1_white.png', width: 111, height: 13
  &mdash;
  1. Output numbers
.exercise
