- content_for :title, document_title(@exercise)

:javascript
  var featuresJson        = #{@exercise.topic.features.split(' ').to_json.html_safe};
  var exerciseId          = "#{@exercise.id}";
  var exerciseJson        = #{@exercise.json.html_safe};
  var exerciseColor       = "#{@exercise.color}";
  var pathForNextExercise = "#{@exercise.path_for_next_exercise}";
  var pathForNextRep      = "#{@exercise.path_for_next_rep}";

- if @exercise.color == 'purple' && @exercise.json_loaded['youtube_id'].nil?
  .video-script
    = @exercise.json_loaded['video_script']

  :css
    .banner { display: none; }
    .purple { padding-top: 30px; margin-top: 100px; }
  .exercise(style='width: 854px; height: 480px')
  .debugger(style='display:none')

- else
  .title{ class: @exercise.color }
    %a(href='/' class='logo-link')
    &mdash;
    = "#{@exercise.topic.num}. #{@exercise.topic.title_text}"

  - if @exercise.color == 'purple' && @exercise.json_loaded['youtube_id']
    .exercise.purple
      .buttons-above
        = form_tag '/post/mark_complete' do
          = hidden_field_tag :next_url, @exercise.path_for_next_exercise
          %button.next{name: 'exercise_id', value: @exercise.id}
            &#x279c; Go on
      .banner.purple Watch the introduction
    %iframe(width='840' height='480' frameborder='0' allowfullscreen){src: "//www.youtube.com/embed/#{@exercise.json_loaded['youtube_id']}?rel=0&autoplay=0"}
    .debugger(style='display:none')

  - else
    .exercise
    .debugger(style='display:none')
