- content_for :title, 'Basic Ruby'

%h1.basic-ruby Basic Ruby
.learn-programming
  learn programming with lots of examples and lots of practice
%br(clear='all')

%br
%br
%br
%br

%table(style='border-spacing: 0px; margin: 0 auto;')
  %tr
    %th
    %th.purple
      = image_tag_for_exercise_color 'purple', 60
      %br
      Watch
      %br
      intro
    %th.yellow
      = image_tag_for_exercise_color 'yellow', 60
      %br
      Run an
      %br
      example
    %th.blue
      = image_tag_for_exercise_color 'blue', 60
      %br
      Predict
      %br
      output
    %th.red
      = image_tag_for_exercise_color 'red', 60
      %br
      Fix the
      %br
      bugs
    %th.green
      = image_tag_for_exercise_color 'green', 60
      %br
      Implement
      %br
      the spec
    /%th.orange
    /  = image_tag_for_exercise_color 'orange', 60
    /  %br
    /  Undo
    /  %br
    /  tricks
  - @topics.each do |topic|
    %tr
      %th.title!= topic.title_html
      %td.purple= done_indicator topic.num, 'P'
      %td.yellow= done_indicator topic.num, 'Y'
      %td.blue=   done_indicator topic.num, 'B'
      %td.red=    done_indicator topic.num, 'R'
      %td.green=  done_indicator topic.num, 'G'
      /%td.orange= image_tag 'under_construction.png',
      /  title: 'Under construction'
%br
%br
%br

/  = render 'mailchimp'

/<a class="twitter-timeline" href="https://twitter.com/learnbasicruby" data-widget-id="468769257224822787">Tweets by @learnbasicruby</a>
/<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

