- content_for :title, '1.1.1 How to output numbers'

.breadcrumbs
  %a(href='/')
    = image_tag 'basic_ruby.png'
  &mdash;
  %a(href='/1') 1. Output
  &mdash;
  %a(href='/1.1') 1.1. Output numbers
  &mdash;
  %a(href='/1.1.1') 1.1.1. How to output numbers

.section.answer-section
  .assignment-above
    = image_tag 'exercise_icons/light_bulb30.png', width: 30, height: 30
    %p
      Click Power to start the Ruby machine.
      %br
      Click Run to run the program.
    %textarea.code= "puts 1\nputs 2\nputs 3\n"
  .machine.off
    .buttons
      = run_button
      = power_button
    .instructions
      .pointer &rarr;
      .content
    .console(style='height:290px')<
      %span.before-cursor>
      .cursor>
  %br(clear='all')
