- content_for :title, '1.1.2 Fix the NoMethodError'

.breadcrumbs
  %a(href='/')
    = image_tag 'basic_ruby.png'
  &mdash;
  %a(href='/1') 1. Output
  &mdash;
  %a(href='/1.1.') 1.1. Output numbers
  &mdash;
  %a(href='/1.1.2') 1.1.2. Fix the <code>NoMethodError</code>

.section.bug-section
  .assignment-above
    = image_tag 'exercise_icons/red_bug30.png', width: 30, height: 30
    %p
      This program raises an error on line 2 because of a typo.
      %br
      Run the broken program.
      %br
      Then read the error message out loud.
  %textarea.code-editor= "puts 1\npust 2\nputs 3\n"
  .machine.off
    .buttons
      = step_button
      = run_button
      = power_button
    %label Instructions
    .instructions
      .pointer &rarr;
      .content
    %label Input &amp; Output
    .console<
      %span.before-cursor>
      .cursor>
  %br(clear='all')

.actions
  %button Help
  %button Forward
  %button Show Answer
