- content_for :title, document_title(@exercise)

%script
  exerciseYaml = #{@exercise.yaml_loaded.to_json.html_safe};

.title-bar
  .logo
    %a(href='/')<
      = image_tag 'basic_ruby_x2_black.png', width: 148, height: 18
  &mdash;
  Exercise #{@exercise.path}
  &mdash;
  = convert_title_backticks @exercise.title
  .level-selector
    %a.level-0-1.selected(href='#')
    %a.level-1-2(href='#')
    %a.level-2-3(href='#')
    %a.level-3-4(href='#')

.section.stretch-section{class: @exercise.color}
  .assignment-above
    = image_tag_for_exercise @exercise
    %p= assignment_split_with_br @exercise
  .consistent-height
    - if @exercise.yaml_loaded['cases']
      .col-1-of-3
        %textarea.code-editor= @exercise.yaml_loaded['code']
      .col-2-of-3
        .debugger
      .col-3-of-3
        .cases
    - else
      .col-1-of-2
        %textarea.code-editor= @exercise.yaml_loaded['code']
      .col-2-of-2
        .debugger
    .clear

.section.yellow#solution-section
  .consistent-height
    - if @exercise.yaml_loaded['cases']
      .col-1-of-3
        #solution-code-hider
          %textarea.code-editor
            = @exercise.yaml_loaded['solution']
      .col-2-of-3
        .debugger
      .col-3-of-3
        .cases
    .clear

- if @exercise.color == 'blue'
  .actions.blue
    .left
      %button.show-demo Demo
      %button.show-solution Solution
    .right
      %button Skip ahead
- else
  .actions{class: @exercise.color}
    .right
      %button Continue
