- content_for :title, document_title(@exercise)

%script
  exerciseYaml = #{@exercise.yaml_loaded.to_json.html_safe};

.title-bar
  .logo
    %a(href='/')<
      = image_tag 'basic_ruby_x2_black.png', width: 148, height: 18
  &mdash;
  Exercise #{@exercise.path}
  &mdash;
  = convert_title_backticks @exercise.title

.section.stretch-section{class: @exercise.color}
  .assignment-above
    = image_tag_for_exercise @exercise
    %p= assignment_split_with_br @exercise
  .consistent-height
    - if @exercise.yaml_loaded['cases']
      .col-1-of-3
        %textarea.code-editor= @exercise.yaml_loaded['code']
      .col-2-of-3
        .debugger
      .col-3-of-3
        .cases
    - else
      .col-1-of-2
        %textarea.code-editor= @exercise.yaml_loaded['code']
      .col-2-of-2
        .debugger

  .actions.fake
    / just to take up vertical space at the bottom of the page
    %button Fake button
  .actions.real
    %button Demo
    %button Solution
    %button Next
