- content_for :title, "Exercise #{@exercise && @exercise['task_id']}"

:javascript
  require('./coffee/tutor.coffee');
:javascript
  exercise = JSON.parse(#{@exercise.to_json.inspect});

#sidebar
  %a#edit-tab-link(href='#')
    #edit-tab.tab
      %h2 Edit
      - if @exercise && @exercise['starting_code']
        %button#restore-button(name='action' value='restore')
          Restore original
      %button#save-button(name='action' value='save')
        Save

  .filler
  .traces-tabs

  .filler.filler-tall
    - if @current_user
      logged in as
      = @current_user.first_name
      %button(name='logout' value='logout') Logout

#edit-content
  - if params['exercise_num']
    %b= "Exercise #{params['exercise_num']}"
  - if @exercise && @exercise['description']
    != @exercise['description'].gsub(/`([^`]*)`/, "<code>\\1</code>")

  #user_code_div
    %textarea#user_code_textarea(name='user_code_textarea'
                                 cols='40' rows='10')
      = @user_code

.case-contents

.footer
  Online Ruby Tutor is (C) 2013
  != succeed '.' do
    %a(href='http://www.danielstutzman.com/') Daniel Stutzman
  %a(href='https://github.com/danielstutzman/online-ruby-tutor/issues')<
    File a bug
  or
  != succeed '.' do
    %a(href='https://github.com/danielstutzman/online-ruby-tutor')<
      submit a pull request
  Visualizations drawn by
  %a(href='http://pythontutor.com/') Online Python Tutor
  by
  != succeed '.' do
    %a(href='http://www.pgbovine.net/') Philip Guo
