- content_for :title, 'Basic Ruby'

%h1.basic-ruby Basic Ruby
.learn-programming
  learn programming with lots of examples and lots of practice
%br(clear='all')

%br
%br
%br
%br

%table(style='border-spacing: 0px; margin: 0 auto;')
  %tr
    %th
    %th.yellow
      = image_tag_for_exercise_color 'yellow'
      %br
      See a
      %br
      demo
    %th.blue
      = image_tag_for_exercise_color 'blue'
      %br
      Predict
      %br
      output
    %th.red
      = image_tag_for_exercise_color 'red'
      %br
      Fix the
      %br
      bugs
    %th.green
      = image_tag_for_exercise_color 'green'
      %br
      Implement
      %br
      the spec
    %th.orange
      = image_tag_for_exercise_color 'orange'
      %br
      Undo
      %br
      tricks
  %tr
    %th.title How to output numbers
    %td.yellow= level_indicator 4
    %td.blue=   level_indicator 1
    %td.red=    level_indicator 1
    %td.green=  level_indicator 2
    %td.orange= level_indicator 3
  %tr
    %th.title Continue a statement<br>over multiple lines
    %td.yellow= level_indicator 3
    %td.blue=   level_indicator 2
    %td.red=    level_indicator 2
    %td.green=  level_indicator 3
    %td.orange= level_indicator 2
  %tr
    %th.title Continue output<br>on the same line
    %td.yellow= level_indicator 2
    %td.blue=   level_indicator 4
    %td.red=    level_indicator 4
    %td.green=  level_indicator 1
    %td.orange= level_indicator 4
%br
%br
%br

= render 'mailchimp'
