- content_for :title, 'Unit 1 - Output'

%h1 Unit 1 &mdash; Output

%h2 Lesson 1.1 &mdash; Output numbers

.exercise
  %a(href='/1.1.1')
    = image_tag 'exercise_icons/light_bulb30.png', width: 30, height: 30
    How to output numbers
.exercise
  %a(href='/1.1.2')
    = image_tag 'exercise_icons/red_bug30.png', width: 30, height: 30
    Fix the <code>NoMethodError</code>
.exercise
  %a(ref='/1.1.3')
    = image_tag 'exercise_icons/red_bug30.png', width: 30, height: 30
    Fix the <code>NameError</code>
.exercise
  %a(ref='/1.1.4')
    = image_tag 'exercise_icons/red_bug30.png', width: 30, height: 30
    Fix the <code>SyntaxError</code>
.exercise
  %a(ref='/1.1.5')
    = image_tag 'exercise_icons/red_bug30.png', width: 30, height: 30
    Fix the missing number
.exercise
  %a(ref='/1.1.6')
    = image_tag 'exercise_icons/question_mark30.png', width: 30, height: 30
    Output what the test case expects
.exercise
  %a(ref='/1.1.7')
    = image_tag 'exercise_icons/question_mark30.png', width: 30, height: 30
    The numbers have to match exactly

%h2 Lesson 1.2 &mdash; Output blank lines

.exercise
  %a(ref='/1.1.5')
    = image_tag 'exercise_icons/light_bulb30.png', width: 30, height: 30
    How to output a blank line
.exercise
  %a(ref='/1.1.6')
    = image_tag 'exercise_icons/red_bug30.png', width: 30, height: 30
    Fix the missing blank line
.exercise
  %a(ref='/1.1.10')
    = image_tag 'exercise_icons/question_mark30.png', width: 30, height: 30
    The blank lines have to match exactly
