<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) or raise "Call content_for :title, 'x'" %></title>
  <%= stylesheet_link_tag    'tutor/all', media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'vendor', 'tutor', 'application', "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/google_analytics' %>
</head>
<body>
  <div id='basic-ruby-popup'>
    <a href='#' class='close'>&times;</a>

    Online Ruby Tutor has been rewritten
    with video tutorials and step-by-step problems.
    Go to:
    <%= link_to '/' do %>
      <%= image_tag 'basic_ruby_green_x7.png', width: 200, style: 'margin-top:10px' %>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
